In [265]:
import pandas as pd

In [266]:
df = pd.read_excel("../Data/raw_synthetic_health_dataset.xlsx")

In [267]:
df.head(10)

   Gender Smoking Alcohol_Consumption Exercise_Frequency Blood_Pressure Cholesterol_Level Stress_Level   Age   BMI  Heart_Rate  Sleep_Hours  Blood_Sugar_Level Medication_Use Family_History Illness
0  Female      No            Moderate              Never         Normal        Borderline         High  90.0  16.6       119.0          3.6              143.6            NaN             No     Yes
1   Other     Yes                 NaN              Never         Normal            Normal          Low  20.0  29.9        69.0          9.9              121.8            NaN            Yes      No
2    Male     Yes               Heavy              Daily           High              High          Low  52.0  33.5        54.0          8.5              107.0            NaN            Yes     Yes
3    Male     Yes               Heavy              Daily         Normal              High          Low  15.0  20.3        72.0          9.5               92.1            NaN             No     Yes
4    Male      No            Moderate              Often           High              High       Medium  60.0  36.0        58.0          4.4              113.6            NaN             No     Yes
5    Male      No                 NaN              Daily            Low              High         High  53.0  15.8       107.0          9.7              149.0     Occasional             No      No
6    Male     Yes                 NaN              Daily            Low        Borderline          Low  39.0  36.1       108.0          4.0              144.9     Occasional            Yes     Yes
7    Male      No                 NaN              Daily         Normal        Borderline         High  25.0  26.5       103.0          6.6               91.3     Occasional            Yes     Yes
8    Male      No            Moderate              Never           High        Borderline       Medium  79.0  20.4        95.0          8.8               86.2     Occasional             No     Yes
9  Female     Yes                 NaN              Never           High              High       Medium  91.0  18.3        71.0          5.4               73.5        Regular             No      No

In [268]:
df.shape

(1000, 15)

In [269]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               988 non-null    object
 1   Smoking              993 non-null    object
 2   Alcohol_Consumption  649 non-null    object
 3   Exercise_Frequency   993 non-null    object
 4   Blood_Pressure       990 non-null    object
 5   Cholesterol_Level    993 non-null    object
 6   Stress_Level         995 non-null    object
 7   Age                  992 non-null    float64
 8   BMI                  994 non-null    float64
 9   Heart_Rate           992 non-null    float64
 10  Sleep_Hours          994 non-null    float64
 11  Blood_Sugar_Level    997 non-null    float64
 12  Medication_Use       655 non-null    object
 13  Family_History       995 non-null    object
 14  Illness              1000 non-null   object
dtypes: float64(5), object(10)
memory usage: 117.3+ KB

In [270]:
df.isnull(). sum()

Gender                  12
Smoking                  7
Alcohol_Consumption    351
Exercise_Frequency       7
Blood_Pressure          10
Cholesterol_Level        7
Stress_Level             5
Age                      8
BMI                      6
Heart_Rate               8
Sleep_Hours              6
Blood_Sugar_Level        3
Medication_Use         345
Family_History           5
Illness                  0
dtype: int64

In [271]:
df.duplicated().sum()

np.int64(0)

In [272]:
df.columns

Index(['Gender', 'Smoking', 'Alcohol_Consumption', 'Exercise_Frequency', 'Blood_Pressure', 'Cholesterol_Level', 'Stress_Level', 'Age', 'BMI', 'Heart_Rate', 'Sleep_Hours', 'Blood_Sugar_Level', 'Medication_Use', 'Family_History', 'Illness'], dtype='object')

In [273]:
df['Gender'].value_counts()

Gender
Male      336
Female    326
Other     326
Name: count, dtype: int64

In [274]:
df['Gender'] = df['Gender'].ffill()
df['Gender'].value_counts()

Gender
Male      338
Female    332
Other     330
Name: count, dtype: int64

In [275]:
df['Smoking'].value_counts(dropna=False)

Smoking
No     510
Yes    483
NaN      7
Name: count, dtype: int64

In [276]:
df['Smoking'] = df['Smoking'].bfill()
df['Smoking'].value_counts(dropna=False)

Smoking
No     513
Yes    487
Name: count, dtype: int64

In [277]:
df['Alcohol_Consumption'].value_counts(dropna=False)

Alcohol_Consumption
NaN         351
Moderate    336
Heavy       313
Name: count, dtype: int64

In [278]:
df['Alcohol_Consumption'] = df['Alcohol_Consumption'].ffill()
df['Alcohol_Consumption'].value_counts(dropna=False)

Alcohol_Consumption
Moderate    509
Heavy       491
Name: count, dtype: int64

In [279]:
df['Exercise_Frequency'].value_counts(dropna=False)

Exercise_Frequency
Never     258
Daily     248
Often     248
Rarely    239
NaN         7
Name: count, dtype: int64

In [280]:
df['Exercise_Frequency'] = df['Exercise_Frequency'].bfill()
df['Exercise_Frequency'].value_counts(dropna=False)

Exercise_Frequency
Never     260
Daily     249
Often     249
Rarely    242
Name: count, dtype: int64

In [281]:
df['Blood_Pressure'].value_counts(dropna=False)

Blood_Pressure
Normal    342
Low       336
High      312
NaN        10
Name: count, dtype: int64

In [282]:
df['Blood_Pressure'] = df['Blood_Pressure'].bfill()
df['Blood_Pressure'].value_counts(dropna=False)

Blood_Pressure
Normal    345
Low       338
High      317
Name: count, dtype: int64

In [283]:
df['Cholesterol_Level'].value_counts(dropna=False)

Cholesterol_Level
High          342
Borderline    340
Normal        311
NaN             7
Name: count, dtype: int64

In [284]:
df['Cholesterol_Level'] = df['Blood_Pressure'].bfill()
df['Cholesterol_Level'].value_counts(dropna=False)

Cholesterol_Level
Normal    345
Low       338
High      317
Name: count, dtype: int64

In [285]:
df['Stress_Level'].value_counts(dropna=False)

Stress_Level
High      346
Medium    328
Low       321
NaN         5
Name: count, dtype: int64

In [286]:
df['Stress_Level'] = df['Stress_Level'].bfill()
df['Stress_Level'].value_counts(dropna=False)

Stress_Level
High      347
Medium    331
Low       322
Name: count, dtype: int64